
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


header {
    background-color: #e9e9e9;
    padding-top: 45px;
}

.container {
    max-width: 1180px;
    margin: auto;
    padding-right: 42px;
}

header nav ul{
    padding-bottom: 20px;
}

header nav li {
    display: inline-block;
    margin-left: 26px;
}

header nav ul li a {
    color: #191919;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}
.active-nav:after {
    color: #10c9c3;
}
         
header nav ul li a:hover, header nav ul li.active-nav a {
    color: #10c9c3;
}

header .logo {
    float: left;
}

header nav {
    float: right;
}

.container:after {
    clear: both;
    content: "";
    display: block;
}

.under-header {
    background-color: #e9e9e9;
    padding-top: 158px;

}

.under-header-mw {
    max-width: 1114px;
    margin: auto;
}

.right-align{
    max-width: 500px;
    float: right;
}

.under-header:after {
    clear: both;
    content: "";
    display: block;
}


.right-align h1{
    font-size: 38px;
    padding-bottom: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.right-align p{
    line-height: 33px;
    padding-bottom: 42px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}
div.right-align{
    padding-bottom: 200px;
}

.contact-us{
    padding: 24px 48px;
    background-color: #10c9c3;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}

.about-us-bg{
 background-color: white;
 padding-top: 103px;
}
.about-us-mw {
 max-width: 665px;
 margin: auto;
}

.about-us{
text-align: center;
 padding-bottom: 35px;
 font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.about-us-text{
 text-align: center;
 padding-bottom: 39px;
 line-height: 25px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

.about-us-mw img{
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 101px;
}

 .prog-bar-bg-right {
     background-color: #e9e9e9;
     width: 50%;
 }

.prog-bar-bg-left{
    background-color: #f8f9f9;
    width: 50%;

    padding-top: 169px;
}
.prog-mv {
    max-width: 500px;
    margin: auto;
}


.prog-section {
    display: flex;
    height: 570px;
}
.pr-skills{
 font-size: 30px;
 padding-bottom: 37px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.prog-bar-bg-left p{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.b1-aqua{
    height: 5px;
    background-color: #d8d8d8;
    margin-bottom: 40px;
}

.b1-aqua:before {
    content: "";
    height: 100%;
    width: 75%;
    background-color: #10c9c3;
    display: block;
}

.b2-aqua {
    height: 5px;
    background-color: #d8d8d8;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.b2-aqua:before {
    content: "";
    height: 100%;
    width: 90%;
    background-color: #10c9c3;
    display: block;
}

.b3-aqua{
    height: 5px;
    background-color: #d8d8d8;
    margin-bottom: 165px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.b3-aqua:before {
    content: "";
    height: 100%;
    width: 65%;
    background-color: #10c9c3;
    display: block;
}

/*.prog-bar-right {
    clear: both;
    content: "";
    display: block;
}   */

/* aqua section with 4 icons */

.aqua {
    height: 240px;
    background-color: #10c9c3;
    padding-top: 98px;
}

.aqua-mw {
    max-width: 1114px;
    margin: auto;
}

.icons li {
    display: inline-block;
    margin-left: 69px;
}

li img{
    float: left;
    padding-right: 26px;
}
.data {
    float: right;
}

.num {
    font-size: 18px;
    color: white;
    padding-bottom: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.string {
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.bag:after {
    clear: both;
    content: "";
    display: block;
}

/* gallery of square images*/
.sq1, .sq2, .sq3, .sq4   {
    float: left;
    width: 25%;
    height: 379px;
    position: relative;
}
.sq1, .sq3     {
    background-color: #838383;
}
.sq2, .sq4 {
    background-color: #dddddd;
}

.gallery-1:after {
    content: "";
    clear: both;
    display: block;
}
.gallery-1 img{
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 45%;
}
.gallery-1 div:hover{
    background-color: #252525;
}

.gallery-1 div:hover img{
    opacity: 1;
}

.sq5, .sq6, .sq7, .sq8   {
    float: left;
    width: 25%;
    height: 379px;
    position: relative;
}
.sq6, .sq8     {
    background-color: #838383;
}
.sq5, .sq7 {
    background-color: #dddddd;
}

.gallery-2:after {
    content: "";
    clear: both;
    display: block;
}
.gallery-2 img{
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 45%;
}
.gallery-2 div:hover{
    background-color: #252525;

}
.gallery-2 div:hover img {
    opacity: 1;
}

/* load more work */
.load-more-bg{
    background-color: #f5f5f5;
    padding: 48px 0px;
}

 .load-more-bg p{
     color: #a3a3a3;
     font-size: 12px;
     text-transform: uppercase;
     text-align: center;
     font-family: 'Montserrat', sans-serif;
     font-weight: 500;
 }

 /* our work process section */

.our-work-process{
    height: 934px;
    background-color: white;
}

.our-work-process-mw{
    max-width: 1114px;
    margin:auto;
    padding-top: 101px;
}

.our-work-process-title{
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.our-work-process-text{
    font-size: 16px;
    text-align: center;
    color: #787878;
    padding-bottom: 58px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

.player{
    max-width: 1174px;
    height: 572px;
    margin: auto;
    background-color: #e9e9e9;
    position: relative;

}

.play-btn{
   background-color: #10c9c3 ;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

.player i{
    font-size: 20px;
    color: white;
    margin: 33px;

}

/*services section*/
.services{
    background-color: #f5f5f5;
}

.services-mw{
    max-width: 1210px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.serv-list-1{
    margin-bottom: 60px;
}

.serv-list-1 div, .serv-list-2 div {
  display: inline-block;
    margin-left: 75px;
    text-align: center;
}

.serv-list-1 img, .serv-list-2 img{
    padding-bottom: 30px;
}

.serv-list-1 p, .serv-list-2 p{
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
}

.serv-list-1 span, .serv-list-2 span{
    line-height: 26px;
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

/*feedback section*/

.feedback{
    background-color: #10c9c3;
}


.feedback-mw{
    max-width: 1114px;
    margin: auto;
    padding-top: 164px;
    padding-bottom: 62px;
}

.feedback-text{
    line-height: 39px;
    padding-bottom: 37px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.customer{
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    color: white;
    margin-bottom: 106px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/* with flex
.services_1 {
  background-color: #f5f5f5;
}

.services-mw_1 {
  max-width: 1114px;
  margin: auto;
  display:flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 100px;
  padding-bottom: 100px;
}
.ser-1, .ser-2 {
max-width: 230px;
}    */

/*partners */
.partners{
     background-color: white;
}

.partners-mw{
     max-width: 1120px;
     margin: auto;
     padding: 62px 0;
}

.margin {
    margin-right: 150px;
}

.partners-mw a{
    display: inline-block;

}

/* order-form*/
.order-bg{
    background-color: #f5f5f5;
}

.order-mw{
    max-width: 670px;
    margin: auto;
    padding: 105px 0;
}

.order-h2{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 36px;
    text-align: center;
}

.order-text{
    font-size: 16px;
    color: #787878;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 54px;
}

.first-line{
    margin-bottom: 20px;
    
}

.name{
    float: left;
    width: 47%;
    height: 31px;
    background-color: white;
    padding: 18px 0 18px 20px;
    font-size: 16px;
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    border: none;
    margin-right: 30px;
}
.email{
    float: right;
    width: 47%;
    height: 31px;
    background-color: white;
    padding: 18px 0 18px 20px;
    font-size: 16px;
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    border: none;
    
}

.first-line:after {
    content: "";
    clear: both;
    display: block;
}

.title {
    width: 100%;
    height: 31px;
    background-color: white;
    padding: 18px 0 18px 20px;
    font-size: 16px;
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    border: none;
    margin-bottom: 30px;

}

.comment {
    width: 100%;
    background-color: white;
    padding: 18px 5px 18px 20px;
    font-size: 16px;
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    border: none;
    margin-bottom: 30px;
    resize: none;
}

.btn{
    background-color: #10c9c3;
    padding: 22px 34px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: white;
    border: none;
}

.btn-mv{
    max-width: 190px;
    margin: auto;
}

footer{
    padding: 97px 127px 97px 97px;
    background-color: black;
}
.f-left{
    margin-right: 267px;
}
.f-left-title {
    font-size: 18px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 32px;
}
.f-left-c{
    font-size: 12px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #bcbcbc;
}
.f-email{
    margin-right: 150px;
}
.f-email-text{
   color: #bcbcbc;
   font-size: 15px;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 400;
}
.f-links1{
    margin-right: 55px;
}

.f-links2{
    margin-right: 136px;
}
.f-links1 a, .f-links2 a, .f-social a{
    display: block;
    color: #bcbcbc;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

footer div{
   
    float: left;
}
footer:after{
    content: "";
    clear: both;
    display: block;
}

.ui-dialog{
    width: 100% !important;
    max-width: 750px !important;
}

.ui-widget-header {
    border: none;
    background: black;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 36px;
    text-align: center;
}




.email-text p{
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    

}
.email-text{
    display: flex;
    justify-content: space-around;
    padding-top: 55px;
    padding-bottom: 49px;
}

.email-form{

    border: #b7b7b7 solid 1px;
    border-radius: 1px;
    font-size: 22px;
    width: 368px;
    
}
 .f-mw{
     max-width: 530px;
     margin: auto;
 }
.btn1-f{
    width: 527px;
    background-color: #d5d5d5;

    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    margin-bottom: 30px;
}

.btn2-f{
    margin-top: 32px;
    width: 527px;
    background-color: #557bcb;

    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    margin-bottom: 30px;
}

.p-form{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    
}














